*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
}

body{
	background: linear-gradient(90deg,
				rgba(214, 250, 216,0.08),
				rgba(235, 253,239,0.1)),
				url('Nuotraukos/Dirbtinis intelektas.jpg');
	background-size: cover;
	background-position: top;
}


.container{
	margin: auto;
	max-width: 80vw;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
.card{
	margin-top: 20rem;
	width: 25%;
	border-radius: 10px;
	backdrop-filter: blur(20px);
	box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
	border: solid 2px black;
	color:white;
	padding: 3rem;
}
